.dropdown {
  position: relative;
  --lg: 120px;
  --md: 96px;
  --sm: 72px;
}

.label {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 40px;
  border: 2px solid var(--gray-50);
  padding: 0 32px;

  &:active {
    background-color: var(--gray-20);
    border-color: var(--gray-80);
    span {
      color: var(--gray-60);
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--gray-20);
    border-color: var(--gray-40);
    span {
      color: var(--gray-40);
    }
    svg {
      color: var(--gray-40);
    }
  }

  &.size {
    &-lg {
      height: var(--lg);
      border-radius: var(--rounded-xl);
      span {
        font-size: var(--h3);
        font-weight: 600;
      }
      & + .list {
        top: calc(var(--lg) + 16px);
      }
    }
    &-md {
      height: var(--md);
      border-radius: var(--rounded-xl);
      span {
        font-size: var(--body2);
        font-weight: 600;
      }
      & + .list {
        top: calc(var(--md) + 16px);
      }
    }
    &-sm {
      height: var(--sm);
      border-radius: var(--rounded-lg);
      span {
        font-size: var(--body3);
        font-weight: 400;
      }
      & + .list {
        top: calc(var(--sm) + 16px);
      }
    }
  }

  span {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
  }
}

.list {
  position: absolute;
  left: 0;
  min-width: 400px;
  max-width: 600px;
  border-radius: var(--rounded-xl);
  background-color: var(--white);
  border: 1px solid var(--gray-20);
  box-shadow: 0px 8px 24px 0px var(--dim-black-16);
  overflow: hidden;
  padding: 12px 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: var(--gray-20);
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 93px;
  padding: 0 32px;
  text-align: left;
  background-color: var(--white);

  &:active {
    background-color: var(--gray-20);
  }

  span {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: var(--body3);
    font-weight: 700;
    color: var(--gray-100);
  }
}
