@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --white: #ffffff;
  --coral: #ff5753;
  --gray-6: #f6f6f6;
  --gray-8: #f6f7f9;
  --gray-10: #f0f1f4;
  --gray-15: #e5e7ea;
  --gray-20: #dadde0;
  --gray-30: #c9cdd2;
  --gray-40: #b2b8be;
  --gray-50: #99a1a8;
  --gray-60: #757d86;
  --gray-70: #50585f;
  --gray-80: #3a3e45;
  --gray-85: #292c33;
  --gray-90: #21242a;
  --gray-100: #131518;
  --green-20: #d2f096;
  --green-30: #bced78;
  --green-50: #82dc28;
  --green-70: #5fbe00;
  --green-80: #5aa70d;
  --green-pda: #7fd727;
  --green-skin: #74d118;
  --system-blue: #007aff;
  --system-red: #f81542;
  --system-orange: #f68a15;
  --system-yellow: #f9db53;
  --dim-black-3: rgba(0, 0, 0, 0.03);
  --dim-black-5: rgba(0, 0, 0, 0.05);
  --dim-black-16: rgba(0, 0, 0, 0.16);
  --dim-black-60: rgba(0, 0, 0, 0.6);
  --dim-black-70: rgba(0, 0, 0, 0.7);
  --dim-black-80: rgba(0, 0, 0, 0.8);
  --dim-white-16: rgba(255, 255, 255, 0.16);
  --dim-white-32: rgba(255, 255, 255, 0.32);
  --dim-white-50: rgba(255, 255, 255, 0.5);
  --dim-white-70: rgba(255, 255, 255, 0.7);
  --dim-white-80: rgba(255, 255, 255, 0.8);

  --font-body: "Pretendard Variable", sans-serif;
  --display: 60px;
  --h1: 52px;
  --h2: 44px;
  --h3: 40px;
  --body1: 36px;
  --body2: 32px;
  --body3: 28px;
  --body4: 24px;
  --caption: 20px;

  --rounded-none: 0px;
  --rounded-xs: 4px;
  --rounded-sm: 8px;
  --rounded-lg: 16px;
  --rounded-xl: 20px;
  --rounded-full: 9999px;
}

@layer base {
  html,
  body {
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  html {
    font-size: 16px;
  }

  body {
    font-family: var(--font-body);
    font-size: 1rem;
    color: var(--gray-100);
    touch-action: pan-x pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 160%;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.chartjs-legend li span {
  color: red;
}
