.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 20px;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  &.checked {
    .icon {
      border-color: var(--gray-100);
      background-color: var(--gray-100);
      svg {
        color: var(--white);
      }
    }
    .label {
      font-weight: 700;
    }
  }

  &.checked.disabled {
    .icon {
      border-color: var(--gray-30);
      background-color: var(--gray-30);
      svg {
        color: var(--gray-10);
      }
    }
  }

  &.disabled {
    .icon {
      border-color: var(--gray-30);
      background-color: var(--gray-20);
      svg {
        color: var(--transparent);
      }
    }
  }

  &.error {
    .icon {
      border-color: var(--system-red);
      background-color: var(--white);
      svg {
        color: var(--transparent);
      }
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    aspect-ratio: 1 / 1;
    border: 3px solid var(--gray-40);
    border-radius: var(--rounded-xs);
    background-color: var(--white);
    svg {
      color: var(--transparent);
    }
  }

  .label {
    font-size: var(--body3);
    font-weight: 400;
    color: var(--gray-100);
  }
}
